# encoding: utf-8

# My hostnames
hostnames = ['server.example.com', 'server2.example.com']

# username etc to connect postgres server
services_server = 'database.server.domain.tld'
services_database = 'services'
services_username = 'server_user'
services_password = 'secret'

# Select services on this server
servers = ['bind', 'apache']

# some apache configs
# is apache ssl-compantible? Default False
apache_ssl = True
## default ssl-cert domain
apache_ssl_domain = 'example.com'

## per vhost log directory, Default /var/log/apache2
## %(vhost)s and %(user)s allowed
#apache_log_dir = '/home/ajaakkola/apache2/logs/%(vhost)s'

## directory where apache holds per vhost files
#apache_vhosts_dir = '/etc/apache2/vhosts.d/

## apache vhost document root
## %(user)s, %(type)s and %(vhost)s can be used
# %(type)s is either "www" or "secure-www"
apache_documentroot = '/var/www/userhomes/%(user)s/sites/%(vhost)s/%(type)s'

## apache default certificate config
#apache_defalt_cert = '/etc/apache/server.crt'
#apache_default_key = '/etc/apache/server.key'
#apache_default_cacrt = '/etc/apache/ca.crt'

#######################
## some bind configs ##
#######################
## dnssec secret for dynamic updates, required!
#bind_secret = ''
# secrets name, required
#bind_secret_name = 'renkisrv.'
# bind secret algorithm, default hmac-md5
# Valid values: hmac-md5, hmac-sha1, hmac-sha224, hmac-sha256,
# hmac-sha384 and hmac-sha512
#bind_secret_algorithm = 'hmac-sha512'
# Where is zones.conf file? Default: /etc/bind/zones.conf
#bind_zones_conf = '/etc/bind/zones.conf'
# bind dynamic zones file, required
#bind_zones_dir = '/etc/bind/zones/dynamic/'
# is this bind master? Default True
#bind_master = True

# some logging settings
debug = True
database_debug = True
log_file = 'renkisrv.log'
