# encoding: utf-8

# My hostnames
hostnames = ['server.example.com', 'server2.example.com']

# username etc to connect postgres server
services_server = 'database.server.domain.tld'
services_database = 'services'
services_username = 'server_user'
services_password = 'secret'

# Select services on this server
servers = ['bind', 'apache']

# some logging settings
debug = True
database_debug = True
log_file = 'renkisrv.log'
